USE [master]
GO
/****** Object:  Database [DIEMTUYENSINH]    Script Date: 9/9/2025 10:24:43 AM ******/
CREATE DATABASE [DIEMTUYENSINH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DIEMTUYENSINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DIEMTUYENSINH.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DIEMTUYENSINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DIEMTUYENSINH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DIEMTUYENSINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DIEMTUYENSINH]
GO
/****** Object:  Table [dbo].[DIEMTS]    Script Date: 9/9/2025 10:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTS](
	[Masinhvien] [nvarchar](10) NOT NULL,
	[Diemmon1] [decimal](3, 1) NOT NULL,
	[Diemmon2] [decimal](3, 1) NOT NULL,
	[Diemmon3] [decimal](3, 1) NOT NULL,
 CONSTRAINT [PK_DIEMTS] PRIMARY KEY CLUSTERED 
(
	[Masinhvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 9/9/2025 10:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[Malop] [nvarchar](15) NOT NULL,
	[Tenlop] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 9/9/2025 10:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[Masinhvien] [nvarchar](10) NOT NULL,
	[Hodem] [nvarchar](45) NOT NULL,
	[Ten] [nvarchar](15) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[Gioitinh] [bit] NOT NULL,
	[Malop] [nvarchar](15) NOT NULL,
	[Noisinh] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[Masinhvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIEMTS] ([Masinhvien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL01', CAST(6.1 AS Decimal(3, 1)), CAST(8.2 AS Decimal(3, 1)), CAST(9.4 AS Decimal(3, 1)))
INSERT [dbo].[DIEMTS] ([Masinhvien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL02', CAST(7.5 AS Decimal(3, 1)), CAST(6.9 AS Decimal(3, 1)), CAST(8.1 AS Decimal(3, 1)))
INSERT [dbo].[DIEMTS] ([Masinhvien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL03', CAST(4.9 AS Decimal(3, 1)), CAST(5.7 AS Decimal(3, 1)), CAST(8.7 AS Decimal(3, 1)))
INSERT [dbo].[LOP] ([Malop], [Tenlop]) VALUES (N'K45HDDL', N'lớp K45HDDL')
INSERT [dbo].[LOP] ([Malop], [Tenlop]) VALUES (N'K45QTKD', N'Lớp K45QTKD')
INSERT [dbo].[LOP] ([Malop], [Tenlop]) VALUES (N'K45TMĐT', N'Lớp K45TMĐT')
INSERT [dbo].[SINHVIEN] ([Masinhvien], [Hodem], [Ten], [Ngaysinh], [Gioitinh], [Malop], [Noisinh]) VALUES (N'DL01', N'Dương Minh ', N'Hùng', CAST(N'1993-05-15' AS Date), 1, N'K45HDDL', N'TP Huế')
INSERT [dbo].[SINHVIEN] ([Masinhvien], [Hodem], [Ten], [Ngaysinh], [Gioitinh], [Malop], [Noisinh]) VALUES (N'DL02', N'Lê Trịnh', N'Vượng', CAST(N'1992-08-25' AS Date), 1, N'K45HDDL', N'Quảng Trị')
INSERT [dbo].[SINHVIEN] ([Masinhvien], [Hodem], [Ten], [Ngaysinh], [Gioitinh], [Malop], [Noisinh]) VALUES (N'DL03', N'Thị', N'Nở', CAST(N'1991-12-02' AS Date), 0, N'K45HDDL', N'Huế')
ALTER TABLE [dbo].[DIEMTS]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTS_DIEMTS] FOREIGN KEY([Masinhvien])
REFERENCES [dbo].[DIEMTS] ([Masinhvien])
GO
ALTER TABLE [dbo].[DIEMTS] CHECK CONSTRAINT [FK_DIEMTS_DIEMTS]
GO
ALTER TABLE [dbo].[DIEMTS]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTS_DIEMTS1] FOREIGN KEY([Masinhvien])
REFERENCES [dbo].[DIEMTS] ([Masinhvien])
GO
ALTER TABLE [dbo].[DIEMTS] CHECK CONSTRAINT [FK_DIEMTS_DIEMTS1]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_LOP] FOREIGN KEY([Malop])
REFERENCES [dbo].[LOP] ([Malop])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_LOP]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_LOP1] FOREIGN KEY([Malop])
REFERENCES [dbo].[LOP] ([Malop])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_LOP1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_SINHVIEN] FOREIGN KEY([Masinhvien])
REFERENCES [dbo].[SINHVIEN] ([Masinhvien])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_SINHVIEN1] FOREIGN KEY([Masinhvien])
REFERENCES [dbo].[SINHVIEN] ([Masinhvien])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_SINHVIEN1]
GO
USE [master]
GO
