USE [master]
GO
/****** Object:  Database [nhom_3_Nguyen_Thanh_Binh]    Script Date: 12/9/2025 7:29:20 AM ******/
CREATE DATABASE [nhom_3_Nguyen_Thanh_Binh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nhom_3_Nguyen_Thanh_Binh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nhom_3_Nguyen_Thanh_Binh.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nhom_3_Nguyen_Thanh_Binh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nhom_3_Nguyen_Thanh_Binh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nhom_3_Nguyen_Thanh_Binh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nhom_3_Nguyen_Thanh_Binh]
GO
/****** Object:  Table [dbo].[HOSOVAYVON]    Script Date: 12/9/2025 7:29:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOVAYVON](
	[MaHoSo] [nchar](10) NOT NULL,
	[LaiSuat] [real] NOT NULL,
	[TongSoVonVay] [int] NOT NULL,
 CONSTRAINT [PK_HOSOVAYVON] PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOSOVAYVON_THANHVIEN]    Script Date: 12/9/2025 7:29:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSOVAYVON_THANHVIEN](
	[MaThanhVien] [varchar](10) NOT NULL,
	[MaHoSo] [varchar](10) NOT NULL,
	[SoVonVay] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 12/9/2025 7:29:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MaThanhVien] [nvarchar](10) NOT NULL,
	[HoDem] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NoiSinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
